* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* costom color of my own usinf :root */
:root {
  --bgcolor: #f1f5fd;
  --primary-color: #6f5de7;
  --text-color: #828286;
  --main-text-color: #333333;
}
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
}

/* for making website responsive */

@media (min-width: 1500px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1500px !important;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1400px !important;
  }
}

/* navBar css style starts here */
.navbar-bg {
  background-color: var(--bgcolor);
  padding: 2rem 0;
  z-index: 99;
  position: relative;
}
.navbar-brand {
  font-size: 2.5rem;
}
.navbar li {
  padding: 0 2rem;
}
.navbar li a {
  font-size: 1.7rem;
  font-weight: lighter;
  cursor: pointer;
}
.navbar li a:hover {
  color: var(--primary-color) !important;
  text-shadow: 0 0.2rem 0.3rem rgba(183, 171, 255, 0.5);
}
.btn-style {
  width: 12rem;
  height: 4rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  color: #fff;
  background-color: var(--primary-color);
  text-transform: capitalize;
  font-size: 1.5rem;
}
.btn-style:first-child {
  margin-right: 2rem;
}
.btn-style:hover {
  border: 0.1rem solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  box-shadow: 0 0.2rem 0.5rem;
}
.btn-style-border {
  border: 0.1rem solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  box-shadow: 0 0.2rem 0.5rem;
}
.btn-style-border:hover {
  background-color: var(--primary-color);
  color: #fff;
  text-transform: capitalize;
}
